.signup_container {
   justify-content: center;
    align-items: center;
    padding: 70px 0;
	width: 32%;
    height: auto;
    background: #b71C1c;
    border-radius: 20px;
    box-sizing: border-box;
}

.welcome{
 padding-bottom: 2%;
 font-weight: 600;
}

div {
  display: block; 
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(231, 198, 255, 0.2);
    border-radius: 5px;
}

a{
 text-decoration: none;
 color: #b71C1c;
}

.create {
    background: white;
    font-weight: 700;
    font-size: 16px;
}

/* border-bottom-right-radius: 400px;
use this to make like an ecclipse shape... A rounded corner at the right bottom
*/